<html>
<head>    
<meta charset="utf-8">     
<style>
body {
    background-color: #FFFFFF;
    font-family: tahoma, arial, helvetica, sans-serif;
}
h1 {
    color: darkred;
}
h2 {
    color:slategray;
}
h3 {
    color: darkgreen;
}
p {
    text-align: justify;
}
.imgLinha{
  width: 100%;
  height: auto;  
}
.caixa{
  margin: 0 15px 0 25px;
  width: 500px; 
  background-color:#F7F4FB;
  font-family: Arial !important;
  font-size: 110% !important;
  text-align: justify;
  margin-left: 30px;
  padding: 25px;
  border-radius: 15px; 
}

</style>
</head>
<body>
<div align="center">
<table width="600px">
  <tr>
    <td>
<h1>Boletim Informativo DESDR</h1>
<p>Salvador, <%= dataPorExtenso %> - Boletim Informativo DESDR <%= boletimNumero %><p>
<img title="Boletim" class="imgLinha" src="http://publicaintra7.serpro/clientes/supde/supde/cabecalho.png" alt="Boletim" />
<br>
<!-- Editorial -->

<% if !editorial.empty? %>
<div class="caixa" >

          <% 
              s=""
              editorial.each { |p|  
                  t = c = ""
                  t = "<h2>#{p[:t]}</h2>" if filled?(p[:t])
                  c = "<p><n>#{p[:c]}</n>" if filled? p[:c]
                  s+= t + c 
            }
          %>
          <% if !s.empty? %>
            <%=  s %>
          <% end %>
        <p>*Boa leitura, aproveitem e contribuam por meio do e-mail: <a href="mailto:lista-comunicacao-desdr@grupos.serpro.gov.br">lista-comunicacao-desdr@grupos.serpro.gov.br</a>!</p>
  </div>
<BR>
<BR>
<BR>
<BR>
<br>
<% end %>
<!-- Fim Editorial -->
<!--De Serviços-->
<%  if ! servicos.empty? %>
  <img class="imgServico" title="De Serviços" src="http://publicaintra7.serpro/clientes/supde/supde/de_servicos.png" alt="De Serviços" />
  <br><br>
  <img class="imgLinha"   src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha" />
  <br><br>
  <% s=""
      servicos.each { |p|  
        s+="<h2>#{p[:t]}</h2>
        <br>
        <p>#{p[:c]}</p>
        <br><br>
      "}
  %>
  <%= s if !s.empty? %>
<% end %>  
<!--Fim De Serviços-->

<!--DE Eventos-->
<%  if ! eventos.empty? %>
<img  title="De Eventos" src="http://publicaintra7.serpro/clientes/supde/supde/de_eventos.png" alt="De frente">
  <br><br>
  <img class="imgLinha"   src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha" />
  <br><br>
  <% s=""
      eventos.each { |p|  
        s+="<h2>#{p[:t]}</h2>
        <br>
        <p>#{p[:c]}</p>
        <br><br>
      "}
  %>
  <%= s if !s.empty? %>
<% end %>  
<!--Fim De Eventos-->

<!-- DE Pessoas -->  
<%  if !pessoas.empty? %>
  <img  title="De Pessoas" src="http://publicaintra7.serpro/clientes/supde/supde/de_pessoas.png" alt="De Pessoas">
  <br><br>
  <img class="imgLinha"  title="Linha" src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha">
  <br><br>
  <% s=""
      pessoas.each { |p|  
      s+="<h2>#{p[:t]}</h2>
      <br>
      <p>#{p[:c]}</p>
      <br><br>
      "}
  %>
  <%= s if !s.empty? %>
<% end %>  
<!-- FIM DE Pessoas --> 

<!-- DE Experiencias -->  
<%  if !experiencias.empty? %>
  <img class="imgPessoas" src="http://publicaintra7.serpro/clientes/supde/supde/de_experiencias.png" alt="De Experiências" title="De Experiências">
  <br><br>
  <img class="imgLinha"  title="Linha" src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha">
  <br><br>
  <% s=""
      experiencias.each { |p|  
      s+="<h2>#{p[:t]}</h2>
      <br>
      <p>#{p[:c]}</p>
      <br><br>
      "}
  %>
  <%= s if !s.empty? %>
<% end %>  
<!-- FIM DE Experiencias --> 


<!-- DE Processos -->  
<%  if !processos.empty? %>
  <img class="imgPessoas" src="http://publicaintra7.serpro/clientes/supde/supde/de_processos.png" alt="De Processos" title="De Processos">
  <br><br>
  <img class="imgLinha"  title="Linha" src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha">
  <br><br>
  <% s=""
      processos.each { |p|  
      s+="<h2>#{p[:t]}</h2>
      <br>
      <p>#{p[:c]}</p>
      <br><br>
      "}
  %>
  <%= s if !s.empty? %>
<% end %>  

<!-- FIM DE processos --> 

<!-- DE mudancas -->  
<%  if !mudancas.empty? %>
  <img class="imgPessoas" src="http://publicaintra7.serpro/clientes/supde/supde/de_mudancas.png" alt="De mudancas" title="De mudancas">
  <br><br>
  <img class="imgLinha"  title="Linha" src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha">
  <br><br>
  <% s=""
      mudancas.each { |p|  
      s+="<h2>#{p[:t]}</h2>
      <br>
      <p>#{p[:c]}</p>
      <br><br>
      "}
  %>
  <%= s if !s.empty? %>
<% end %>  
<!-- FIM DE mudancas --> 


<!-- DE Cultura --> 
<% if !cultura.empty? %>
<img src="http://voce.serpro/articles/0106/3198/de_cultura.png" alt="">
<br>
<img class="imgLinha"  src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" >
<br><br>
  <%  s=""
      cultura.each { |p|  
          t = c = ""
          t = "    
            <h2>#{p[:t]}</h2> " if ! p[:t].empty?
          t = "    
            <h3>#{p[:st]}</h3> " if ! p[:st].empty?
          c = "<p>#{p[:c]}</p>" if ! p[:c].empty?
          s+= t + c 
          s+="<br></br>" if ! p[:c].empty?
          #s+="<div align='center'>=======</div><br>" if ! p[:c].empty?
    }
  %>
  <% if !s.empty? %>
    <%=  s %>
  <% end %>
<% end %>
  
<!-- Fim DE Cultura -->  

<!-- Expediente --> 

<% if filled? expediente %>
  <div class="caixa">
  <% s=""
      expediente.each { |p|  
        s+="<h2>#{p[:t]}</h2>
        #{p[:c]}
      "}
  %>
  <% if !s.empty? %>
    <%= s %>
  <% end %>
  </div>  
<% end %>
 
<!-- Fim DE Cultura -->  
    </td>
  </tr>
</table>  
  
</div>  <!--Fim div align center -->
</body>
</html>