<html>
<head>    
<meta charset="utf-8">     
<style>
body {
    background-color: #FFFFFF;
    font-family: tahoma, arial, helvetica, sans-serif;
}
h1 {
    color: darkred;
}
h2 {
    color:slategray ;
}
h3 {
    color: darkgreen;
}
p {
    text-align: justify
}
.imgLinha{
  width: 100%;
  height: auto;  
}

</style>
</head>

<body>

<div align="center">

<table width="600px">
  <tr>
    <td>
<h1>Boletim Informativo DESDR</h1>
<p>Salvador, <%= DateTime.now.strftime('%d/%m/%Y') %> - Boletim Informativo DESDR<p>
<img title="Boletim" class="imgLinha" src="http://publicaintra7.serpro/clientes/supde/supde/cabecalho.png" alt="Boletim" />
<br>
<!-- Editorial -->
  <% 
      s=""
      editorial.each { |p|  
          t = c = ""
          t = "<h2>#{p[:t]}</h2>" if filled?(p[:t])
          c = "<p><n>#{p[:c]}:</n>" if filled? p[:c]
          s+= t + c 
    }
  %>
  <% if !s.empty? %>
    <%=  s %>
  <% end %>
<br>
<!-- Fim Editorial -->
<p>*Boa leitura, aproveitem e contribuam por meio do e-mail: <a href="mailto:lista-comunicacao-desdr@grupos.serpro.gov.br">lista-comunicacao-desdr@grupos.serpro.gov.br</a>!</p>
<br>
<br>

<!--De Serviços-->
<%  if ! servicos.empty? %>
  <img class="imgServico" title="De Serviços" src="http://publicaintra7.serpro/clientes/supde/supde/de_servicos.png" alt="De Serviços" />
  <br><br>
  <img class="imgLinha"   src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha" />
  <br><br>
  <% s=""
      servicos.each { |p|  
        s+="<h2>#{p[:t]}</h2>
        <br>
        <p>#{p[:c]}</p>
        <br><br>
      "}
  %>
  <%= s if !s.empty? %>
<% end %>  
  
<!--Fim De Serviços-->

<!--DE Eventos-->

<img  title="De Eventos" src="http://publicaintra7.serpro/clientes/supde/supde/de_eventos.png" alt="De frente">
<br>
<br>
<img class="imgLinha" title="Linha" src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha">
<br>
<br>
<% if ! reunioes.empty? %>
  <h2>REUNIÕES:</h2>
  <br>
  <p><%= reunioes %></p>
  <br>
  <br>
<% end %>

<% if ! realizacoes.empty? %>
  <h2>REALIZAÇÕES:</h2>
  <br>
  <p><%= realizacoes %></p>
  <br>
  <br>
<% end %>


<% if ! viagens.empty? %>
<div align="center">
  <img src="http://voce.serpro/articles/0106/3007/images6.jpeg" width="30%">
</div>  
  <br>
  <br>
  <h2>VIAGENS:</h2>
  <br>
  <p><%= viagens %></p>
  <br>
  <br>
  <br>
<% end %>
  
<!-- FIM DE Eventos -->  

<img  title="De Serviços" src="http://publicaintra7.serpro/clientes/supde/supde/de_mudancas.png"  />
<br>
<br>
<img class="imgLinha"   src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha" />
<br>
<br>
<h2>Novos integrantes para Equipe DE507 e DE508</h2>


  <br>
  <p>Informamos a todos que, desde o dia 03 de julho, Mario Resende passou a integrar a equipe DE508 e Alex Cesar DE507. A equipe DE505 agradece o convívio e as contribuições durante o período que integrou o setor. Desejamos sucesso nas novas atividades!</p>
  <br>
  <br>

<!-- DE Pessoas -->  
<%  if !pessoas.empty? %>
  <img  title="De Pessoas" src="http://publicaintra7.serpro/clientes/supde/supde/de_pessoas.png" alt="De Pessoas">
  <br><br>
  <img class="imgLinha"  title="Linha" src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" alt="Linha">
  <br><br>
  <% s=""
      pessoas.each { |p|  
      s+="<h2>#{p[:t]}</h2>
      <br>
      <p>#{p[:c]}</p>
      <br><br>
      "}
  %>
  <%= s if !s.empty? %>
<% end %>  
<!-- FIM DE Pessoas --> 

<!-- DE Cultura --> 

<% if !cultura.empty? %>

<div align="center">
  <img src="http://voce.serpro/articles/0106/3200/SessaoPipoca.jpg" alt="" width="200" style="">
</div>
<img src="http://voce.serpro/articles/0106/3198/de_cultura.png" alt="">
<br>
<img class="imgLinha"  src="http://publicaintra7.serpro/clientes/supde/supde/linha_de.png" >
<br>
<br>
  <% 
      s=""
      cultura.each { |p|  
          t = c = ""
          t = "    
            <h3>#{p[:t]}</h3> " if ! p[:t].empty?
          c = "<p>#{p[:c]}</p>" if ! p[:c].empty?
          s+= t + c 
          s+="<div align='center'>=======</div><br>" if ! p[:c].empty?
    }
  %>
  <% if !s.empty? %>
    <%=  s %>
  <% end %>
<% end %>
  
<!-- Fim DE Cultura -->  

<!-- Expediente --> 

<% if filled? expediente %>

  <% 
      s=""
      expediente.each { |p|  
          t = k = v = ""
          t = "<h2>#{p[:t]}</h2>" if filled?(p[:t])
          k = "<p><b>#{p[:k]}:</b>  " if filled? p[:k]
          v = "<i>#{p[:v]}</i></p>" if filled? p[:v]
          s+= t + k + v
    }
  %>

  <% if !s.empty? %>
    <%=  s %>
  <% end %>
<% end %>
 
<!-- Fim DE Cultura -->  
    </td>
  </tr>
</table>  
  
</div>  <!--Fim div align center -->
</body>
</html>    